*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent{
  margin: 200px auto;
  display: flex;
  flex-flow: row ;
  width: 400px ;
  height: 400px;
  /* background: rgba(211, 211, 211, 0.867); */
  flex-wrap: wrap;
  text-align: center;
  line-height: 200px;
  justify-content: space-between;
  
}
.child{
  background: #db1212;
  width: 195px;
  height: 195px;
  
}
.child:nth-child(1) {
  background: red;
}

.child:nth-child(2) {
  background: green;
}

.child:nth-child(3) {
  align-self: flex-end;
  background: blue;
}

.child:nth-child(4) {
  align-self: flex-end;
  background: yellow;
}
